.header {
    display: flex;
    justify-content: space-between;
}

.headerMenu {
    margin: 15px 0;
}
.headerMenu a{
    display: relative;
  
    margin: 0 10px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-size: 19px;
    letter-spacing: 1.2px;
}
.headerMenu a:hover{
    color:blue;
}

.logo {
    height:100px;

}
