/* App.css */
.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex-grow: 1;
  }
  
  footer {
    flex-shrink: 0;
  }
  .app.light {
    background-color: #fff;
    color: #000;
}

.app.dark {
    background-color: #333;
    color: #fff;
}
